body {
    margin: 0;
    font-family: cursive;
    display: flex;
    justify-content: center;
    background-color: #171515;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-style: italic;
}
.container {
    border-radius: 20px;
    background-color: #292626;
    width: 500px;
    /* box-shadow: 0 1px 8px darkgray; */
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

button {
    border-radius: 5px;
    padding: 10px;
    background-color: #395439;
    color: darkgray;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
button:hover {
    color: green;
}

div {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style: none;
    padding: 0;
}

label {
    color: whitesmoke;
}

li {
    border-radius: 10px;
    background-color: #292626;
    box-shadow: 0 0 3px gray;
    padding: 5px;
    margin: 10px
}
.delete-btn {
    background-color: #78243D;
    padding:5px
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color : gray;
}

.details {
    color: gray;
}