body {
    margin: 0;
    font-family: cursive;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: green;
    font-style: italic;
}
.container {
    border-radius: 20px;
    background-color: whitesmoke;
    width: 300px;
    box-shadow: 0 2px 5px lightgray;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

button {
    border-radius: 5px;
    padding: 10px;
    background-color: green;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

div {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 1px 3px lightgray;
    padding: 5px;
    margin: 10px
}
.delete-btn {
    background-color: darkred;
    padding:5px
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.details {
    color: gray;
}